# Database Configuration
DB_HOST="sql12.freesqldatabase.com"
DB_NAME="sql12826860"
DB_USER="sql12826860"
DB_PASSWORD="xrqqfAciAg"

# Admin Credentials
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password123"

# JWT Secret for Auth (Recommended for production)
JWT_SECRET="super-secret-key-change-me"
